@import url("https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900;1,1000&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

input:focus,
textarea:focus {
  outline: none;
}

a,
nav button {
  text-decoration: none;
  background-color: transparent;
  border: none;
  color: #f2f2f2;
  transition: all ease 0.4s;
  font-size: 1em;
  cursor: pointer;
}

a:hover,
nav button:hover {
  color: #f9f9f9;
}

:root {
  font-family: "Nunito", Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;
  width: 100%;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #0d1117;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

/* Form styles */

form {
  max-width: 40%;
  margin: 0 auto;
}

label {
  display: flex;
  flex-direction: column;
  margin-bottom: 1em;
}

label span {
  margin-bottom: 0.3em;
  font-weight: bold;
  text-align: left;
}

input,
textarea {
  box-sizing: border-box;
  border: none;
  border-bottom: 1px solid #f2f2f2;
  padding: 0.8em 0;
  background-color: transparent;
}

.btn {
  background-color: rgba(33, 38, 45, 0.45);
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(5px);
  -webkit-backdrop-filter: blur(5px);
  border: 1px solid rgba(33, 38, 45, 0.3);
  color: rgba(255, 255, 255, 0.87);
  text-align: center;
  cursor: pointer;
  border-radius: 10px;
  width: 120px;
  font-weight: bold;
  padding: 10px 15px;
  font-size: 1em;
  transition: all ease 0.2s;
}

.btn:hover {
  background-color: #21262d;
  border: 1px solid #abd1d9;
}

button[disabled] {
  background-color: #aaa;
  pointer-events: none;
}

.container .error {
  color: #ff4254;
  background-color: rgba(33, 38, 45, 0.45);
  border: 1px solid #abd1d9;
  padding: 5px;
  border-radius: 5px;
}
